@font-face {
    font-family: 'ChakraPetchRegular';
    src: url("../../fonts/ChakraPetch-Regular.ttf") format('truetype');    
}


html { font-family: 'ChakraPetchRegular'; letter-spacing: 1px;}

input, .placeholder {
    &::placeholder {
        color: rgba(129, 161, 225);
    }
}

.recharts-wrapper text {
    fill: #81A1E1;
    font-size: 14px;
}

.animate-top-top {
    -webkit-animation: MoveUpDownTwo 1.5s linear infinite;
}

.animate-top {
    -webkit-animation: MoveUpDown 1.5s linear infinite;
}

@-webkit-keyframes MoveUpDown {
    0%, 100% {
        top: 21px;
    }
    50% { 
        top: 25px;
    }
}

@-webkit-keyframes MoveUpDownTwo {
    0%, 100% {
        top: -10px;
    }
    50% { 
        top: -15px;
    }
}

.recharts-wrapper .recharts-layer.recharts-label-list text{
    fill: aqua;
     
    tspan {
        font-size: 10px !important;
    }
}

.ido .progressbar-container .progressbar-progress {
    height: 28px !important;
}

#token-amount-input, #token-amount-input::placeholder {
    color: white;
}

.farm-container {
    .search {
        border: 2px solid #1F357D;
        border-radius: 2px;
    }

    .farms-header {

    }
}

.farm-item {
    width: 32%;
}

.burn {
    width: 64rem;
}

.header-links {
    z-index: 999;
    left: 0px;
    height: 100%;
    padding-top: 48px;
    top: 0px;

    a {
        font-size: 14px;
    }
}

.blo-container {
    width: 650px;
}

.terms-popup {
    .btns-wrapper {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;

        .accept {
            background: linear-gradient(to left top, #8914d0 0%/*bottom-right color*/, rgba(255, 0, 255, 0.5) 40% /*middle color*/, #02c9fe 100% /*top-left color*/);
            padding: 10px 22px;
            color: #fff;
            outline: none;  
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            text-decoration: none;
            text-align: center;
            line-height: 24px;
            font-size: 16px;
            width: 97px;
            height: 43px;
        }

        .decline {
            color: white;
            background: #05113B;
            padding: 10px;
            cursor: pointer;
            width: 97px;
            text-align: center;
        }
    }            
}

$number-of-options: 3;

#form-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
form {
	width: 90%;
	max-width: 500px;
	#form-title {
		margin-top: 0;
		font-weight: 400;
		text-align: center;
	}
	#debt-amount-slider {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: 100%;
		height: 50px;
		user-select: none;
		&::before {
			content: " ";
			position: absolute;
			height: 2px;
			width: 100%;
			width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: aqua;
		}
		input, label {
			box-sizing: border-box;
			flex: 1;
			user-select: none;
			cursor: pointer;
		}
		label {
			display: inline-block;
			position: relative;
			width: 20%;
			height: 100%;
			user-select: none;
			&::before {
				content: attr(data-debt-amount);
				position: absolute;
				left: 50%;
				padding-top: 10px;
				transform: translate(-50%, 45px);
				font-size: 14px;
				letter-spacing: 0.4px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}
			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				border: 2px solid #0C1A4A;
				background: #1F357D;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}
			&:hover::after {
				transform: translate(-50%, -50%) scale(1.25);
			}
		}
		input {
			display: none;
			&:checked {
				+ label::before {
					font-weight: 800;
					opacity: 1;
				}
				+ label::after {
					border-width: 4px;
					transform: translate(-50%, -50%) scale(0.75);
				}
				~ #debt-amount-pos {
					opacity: 1;
				}

				&:nth-child(1) ~ #debt-amount-pos {
                    left: 16.5%;
                }
                &:nth-child(3) ~ #debt-amount-pos {
                    left: 50%;
                }
                &:nth-child(5) ~ #debt-amount-pos {
                    left: 83%;
                }

                
			}
		}
		#debt-amount-pos {
			display: block;
			position: absolute;
			top: 50%;
			width: 14px;
			height: 14px;
			background: aqua;
			border-radius: 50%;
			transition: all 0.15s ease-in-out;
			transform: translate(-50%, -50%);
			opacity: 0;
			z-index: 2;
		}
	}
	&:valid {
		#debt-amount-slider {
			input {
				+ label::before {
					transform: translate(-50%, 45px) scale(0.9);
					transition: all 0.15s linear;
				}
				&:checked + label::before {
					transform: translate(-50%, 45px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}
	& + button {
		display: block;
		position: relative;
		margin: 56px auto 0;
		padding: 10px 20px;
		appearance: none;
		transition: all 0.15s ease-in-out;
		font-family: inherit;
		font-size: 24px;
		font-weight: 600;
		background: #fff;
		border: 2px solid #000;
		border-radius: 8px;
		outline: 0;
		user-select: none;
		cursor: pointer;
		&:hover {
			// transform: scale(1.1);
			background: #000;
			color: #fff;
			&:active {
				transform: scale(0.9);
			}
		}
		&:focus {
			background: #4caf50;
			border-color: #4caf50;
			color: #fff;
			pointer-events: none;
			&::before {
				animation: spin 1s linear infinite;
			}
		}
		&::before {
			display: inline-block;
			width: 0;
			opacity: 0;
			content: "\f3f4";
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			margin-right: 0;
			transform: rotate(0deg);
		}
	}
	&:invalid + button {
		pointer-events: none;
		opacity: 0.25;
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
	to {
		transform: rotate(360deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
}

.mobile-dropdown {
    margin-top: -45px;
    margin-left: -15px;
    padding-top: 45px;
    width: 66%;
}



.header-dropdown {
    transition:all 0.3s ease;
}

.header-dropdown .dropdown-content {
    visibility: hidden;
    opacity:0;
    transition:all 0.3s ease;
    transform:translateY(25px);
    position: absolute;

    &.more {
        left: 5px;
    }

    a {
        transition: 0.15s all;
    }
}

.header-dropdown:hover {
    position: relative;    
    padding-bottom: 10px;
}

.header-dropdown:hover > .dropdown-content {    
    display: flex;
    flex-direction: column;    
    top: 50px;
    opacity:1;
    visibility: visible;
    transform:translateY(0px);            
}

.header-dropdown-mobile:hover {
    position: relative;    
    padding-bottom: 10px;
    .dropdown-content {
        display: flex;
        flex-direction: column;
        
        &.more {
            left: 5px;
        }
    }
}

.farm-search {
    input {
        padding-top: 7px;
    }
}

select::-ms-value {background: none;}

select:focus-visible {outline: none !important}
select:active {border: none}

.progressbar-container {
    width: 100%;
    background: #05113B;
    border-radius: 3px;
}

.progressbar-progress {
    border-radius: 3px;
}

.vesting-container {
    max-width: 90rem;
}

.bridge-container, .faucet-container, .history-container {
    margin-top: 80px;
    .swap-nav {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 0px;
        right: 0px;
        top: -40px;

        .primary:hover, .secondary:hover, .third:hover {
            color: #15CEF7;
        }

        .primary, .secondary, .third {
            transition: 0.3s all;
            cursor: pointer;
            padding: 8px 20px;
            font-size: 16px;
            text-align: center;
            width: 33.3%;
            color: white;
        }
            

        .primary {
            background-color: #0C1A4A;
            color: #15CEF7;
        }

        .secondary, .third {
            background-color: #020d34;
        }
    }
}

body {
    background-color: #05113b;
    font-family: 'ChakraPetchRegular' !important;

    .locker-blue-border {
        width: 45%;
        border-top: 2px solid #132562;
        margin-top: 9px;
    }

    #token-search-input::placeholder, #list-add-input::placeholder {
        color: #81A1E1;
    }

    #list-token-manage-button {
        color: #00FFFF;
    }

    .transaction-settings {
        * {
            color: #ffffff;
        }
    }

    .bg-linear-gradient {
        background: linear-gradient(to left top, #8914d0 0%/*bottom-right color*/, rgba(255, 0, 255, 0.5) 40% /*middle color*/, #02c9fe 100% /*top-left color*/);  
        height: 48px;
        border-radius: 2px;
        transition: 0.3s all;
    }

    .bg-linear-gradient-disabled {
        background: linear-gradient(to left top, #02c9fe 0%/*bottom-right color*/, rgba(255, 0, 255, 0.5) 40% /*middle color*/, #56747c 100% /*top-left color*/);  
        height: 48px;
        border-radius: 2px;
        transition: 0.3s all;
    }

    .bg-linear-gradient-border {
        position: relative;
        background-color: #05113b;
        border: 3px solid transparent;
        border-radius: 2px;
        transition: 0.3s all;
        
        * {
            letter-spacing: 1px !important;
        }

        &.token-button {
            width: 176px;
            background-color: #132562;
            border: 2px solid #15cef73d;
            padding: 8px;
        }        

        &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -6px; /* !importanté */
            border-radius: inherit; /* !importanté */
            background: linear-gradient(to left top, #8914d0 0%/*bottom-right color*/, rgba(255, 0, 255, 0.5) 40% /*middle color*/, #02c9fe 100% /*top-left color*/);
        }

        &.select-token {
            width: 172px;
            position: absolute;
            top: -5px;
            left: -3px;
            height: 46px;

            span {
                color: white;
                z-index: 3;
                position: absolute;
                left: 25px;
                top: 6px;
                font-size: 16px;
            }            

            &:before {
                z-index: 1;
            }
        }
    }
}

.locker-container {
    position: relative;
    margin-top: 100px;
    .locker-nav {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 0px;
        top: -40px;
        
        &.create {
            .secondary {
                background-color: #0C1A4A;
            }
        }

        .primary:hover, .secondary:hover {
            color: #15CEF7;
        }

        .primary, .secondary {
            transition: 0.3s all;
            cursor: pointer;
            padding: 8px 20px;
            font-size: 16px;
            color: white;
        }

        .primary {
            background-color: #020d34;                        
        }

        .secondary {
            background-color: #0C1A4A;
            color: #15CEF7;
        }

        &.search {
            .primary {
                background-color: #0C1A4A;
                color: #15CEF7;
            }

            .secondary {
                background-color: #020d34;
                color: #c2c2c2;

                &:hover {
                    color: #15CEF7;
                }
            }
        }
    }
}

.page-container {

    .glow {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
    }

    .header-border {
        border-bottom: 2px solid #142970;
        z-index: -1;
    }    

    // .header-logo {
    //     position: absolute;
    //     top: 30px;
    //     left: 30px;
    // }

    .header-container {
        margin: 0 20px;        
    
        .links {
            a {
                z-index: 99
            }
            a:hover {
                color: #15CEF7;
            }
        }
    }

    .swap-container {
        position: relative;

        * {
            border-radius: 2px;
        }

        .swap-blue-border {
            width: 42%;
            border-top: 2px solid #132562;
            margin-top: 13px;
        }

        #open-settings-dialog-button {
            background-color: #132562;
            color: #15CEF7;
        }

        .swap-glow {
            z-index: -1;
            position: absolute;
            top: 89px;
            right: -113px;
        }  
        
        .swap-glow-overlay {
            z-index: -1;
            position: absolute;
            top: -100px;
            right: -400px;

            &.second {
                right: 400px;
            }            
        }   

        #swap-page {            
            position: relative;        
            background-color: #0C1A4A;       
            margin-top: 88px;
            
            .swap-nav {
                display: flex;
                justify-content: flex-start;
                position: absolute;
                left: 0px;
                right: 0px;
                top: -40px;

                .primary:hover, .secondary:hover {
                    color: #15CEF7;
                }

                .primary, .secondary {
                    transition: 0.3s all;
                    cursor: pointer;
                    padding: 8px 20px;
                    font-size: 16px;
                    width: 50%;
                    text-align: center;
                    color: white;
                }

                .primary {
                    background-color: #0C1A4A;
                    color: #15CEF7;
                }

                .secondary {
                    background-color: #020d34;
                }
            }

            .currency-title {
                color: #81A1E1;
            }

            .input-wrapper {
                height: 50px;
            }

            .input-container {
                margin-top: 30px;
                width: 500px;

                #swap-currency-input, #swap-currency-output {  
                    background-color: #132562;
    
                    .input {
                        background-color: #142970;

                        input {
                            &::placeholder {
                                color: white;
                            }
                        }
                        
                        * {
                            color: white;
                        }
                    }
                }
            }
        }    
        
    } 

    .staking-container {
        .swap-glow {
            z-index: -1;
            position: absolute;
            top: 89px;
            right: -113px;
        }  
        
        .swap-glow-overlay {
            z-index: -1;
            position: absolute;
            top: -60px;
            right: -400px;

            &.second {
                right: 800px;
            }            
        }  
    }

    .farm-card {
        .swap-glow {
            z-index: -1;
            position: absolute;
            top: 89px;
            right: -113px;
        }  
        
        .swap-glow-overlay {
            z-index: -1;
            position: absolute;
            top: -68px;
            right: -393px;

            &.second {
                right: 797px;
            }            
        } 
    }
    
    .liquidity-container {
        position: relative;
        z-index: 2;
        margin-top: 100px;

        .swap-glow {
            z-index: -1;
            position: absolute;
            top: 89px;
            right: -113px;
        }  
        
        .swap-glow-overlay {
            z-index: -1;
            position: absolute;
            top: -350px;
            right: -400px;

            &.second {
                right: 400px;
            }            
        }  

        .modal-header {
            color: #15CEF7;
        }

        #open-settings-dialog-button {
            background-color: #132562;
            border-radius: 2px;
            color: #15CEF7;
        }

        .roster {
            border-radius: 2px;
            border: 2px solid #1F357D;
            .title {
                color: white;
            }
        }

        .add-liquidity {
            font-size: 20px;
            height: 68px;
        }

        .swap-nav {
            display: flex;
            justify-content: flex-start;
            position: absolute;
            left: 0px;
            right: 0px;
            top: -40px;

            .primary:hover, .secondary:hover {
                color: #15CEF7;
            }

            .primary, .secondary {
                transition: 0.3s all;
                cursor: pointer;
                padding: 8px 20px;
                font-size: 16px;
                width: 50%;
                text-align: center;
                color: white;
            }

            .primary {
                background-color: #020d34;
            }

            .secondary {    
                background-color: #0C1A4A;
                color: #15CEF7;
            }
        }
    }

    #remove-liquidity-page {
            position: relative;        
            margin-top: 88px;
            z-index: 3;

            .swap-blue-border {
                width: 42%;
                border-top: 2px solid #132562;
                margin-top: 13px;
            }

            button {
                border-radius: 2px;
            }

            .plus-icon svg{
                color: #15CEF7;
            }

            #open-settings-dialog-button {
                background-color: #132562;
                border-radius: 2px;
                color: #15CEF7;
            }
            
            .swap-nav {
                display: flex;
                justify-content: flex-start;
                position: absolute;
                left: 0px;
                right: 0px;
                top: -40px;
    
                .primary:hover, .secondary:hover {
                    color: #15CEF7;
                }
    
                .primary, .secondary {
                    transition: 0.3s all;
                    cursor: pointer;
                    padding: 8px 20px;
                    font-size: 16px;
                    width: 50%;
                    text-align: center;
                    color: white;
                }
    
                .primary {
                    background-color: #020d34;
                }
    
                .secondary {    
                    background-color: #0C1A4A;
                    color: #15CEF7;
                }
            }

            .currency-title {
                color: #81A1E1;
            }

            .input-wrapper {
                height: 50px;
            }

            .input-container {
                margin-top: 30px;

                #add-liquidity-input-tokenb, #add-liquidity-input-tokena, #liquidity-percent, #remove-liquidity-output {  
                    background-color: #132562;
                    border-radius: 2px;

                    .select-token {
                        left: 1px;
                        width: 185px;
                    }
    
                    .input {
                        background-color: #142970;
                        border-radius: 2px;

                        input {
                            &::placeholder {
                                color: white;
                            }
                        }
                        
                        * {
                            color: white;
                        }
                    }
                }
            }
    }
}

.first-fire {
    top: 21px;
    left: 47px;
}

.second-fire {
    top: 21px;
    left: 112px;
}

.third-fire {
    top: -10px;
    left: 85px;
}

.burn-title {
    font-size: 54px;
}

.glint-burn-title {
    font-size: 32px;
    font-weight: bold;
}

.scroll-table {
    max-height: 600px;
    overflow-y: scroll;
}



@media (max-width: 640px) {

    .burn-title {
        font-size: 28px;
        text-align: center;
        margin-top: 60px;
    }

    .scroll-table {
        max-height: unset;
        overflow-y: unset;
    }


    .burn-table {    
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: scroll;
        white-space: nowrap;
        display: block;
    }

    .glint-burn-title {
        font-size: 28px;
        text-align: center;
    }

    .burn {
        width: 95%;
    }

    .first-fire {
        top: 21px;
        left: 47px;
    }
    
    .second-fire {
        top: 21px;
        left: 112px;
    }
    
    .third-fire {
        top: -10px;
        left: 85px;
    }

    .blo-container {
        width: unset;
    }

    .swap-container {
        width: inherit;
    }
}
@media (min-width: 960px) and (max-width: 1300px) {
    .sort-by {
        display: none;
    }
}

@media (max-width: 640px) {

    .header-links a {
        z-index: 99 !important;
    }

    .header-container {
        margin: 0 16px !important;        
    }

    .swap-container {
        .swap-glow {
            right: -91px !important;
        }
    }

    .farm-item {
        width: 100% !important;
    }

    .sticky-header {     
        background: #020d34;   
        border-top: 2px solid #132562;
        border-bottom: 2px solid #132562;
    }

    #add-liquidity-input-tokena, #add-liquidity-input-tokenb {
        padding-bottom: 97px;
                
        .ml-3.bg-gradient-to-r {
            margin-left: 0px;
            margin-top: 10px;
        }
    }

    #swap-page {
        .input-container {
            width: unset !important;

            #swap-currency-input, #swap-currency-output {
                padding-bottom: 97px;
                
                .ml-3.bg-gradient-to-r {
                    margin-left: 0px;
                    margin-top: 10px;
                }
            }

            .swap-blue-border {
                width: 28%;
            }
        }
    }

    .chain-select {
        flex-direction: column;
    }
    
}

.white-glow {
    span {
        text-shadow:1px 1px 4px #fff, 1px 1px 4px rgb(255, 255, 255);
        letter-spacing: 1px;
    }
}